[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
youtube-dl = "*"
youtube-search-python = "*"
spotipy = "*"
python-dotenv = "*"
asyncio = "*"

[dev-packages]

[requires]
python_version = "3.9"
